@{
    ViewData["Title"] = "Home Page";
}

@Html.AntiForgeryToken()
<div id="react-app">Loading...</div>
@*<button><a asp-action="Login" asp-controller="Account">Login</a></button>
    <button><a asp-action="Register" asp-controller="Account">Registration</a></button>*@
@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
