@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic');


@font-face {
    font-family: tk-brandon-grotesque-n4;
    src: url(https://use.typekit.net/af/8d9762/0000000000000000000132df/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/8d9762/0000000000000000000132df/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/8d9762/0000000000000000000132df/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");
    font-weight: 400;
    font-style: normal;
}


/*EDIT USER*/

.DayPickerInput {
    width: 100%;
    display: block;
    width: 100%;
    height: 5vh;
    padding-left: 5.5vh;
    padding-right: 2vh;
    position: relative;
    transition: all .7s ease;
    font-size: 1em;
    background: rgba(255,255,255,0.9);
    border: 1px solid rgba(170,170,170, 0.6);
    border-radius: 2.5vh;

    input {
        width: 100%;
        border: none;
        height: 100%;

        &:focus {
            border: none;
            outline: none;
        }
    }
}


    .svg-base {
        svg {
            display: inline-block;
            stroke: #fff;
            stroke-width: 0;
            stroke-miterlimit: 5;
            width: 2vh;
            height: 2vh;

            .tw {
                stroke-dasharray: 4000;
                fill: url(#gradient1);
            }

            .inst {
                stroke-dasharray: 4000;
                fill: url(#gradient2);
            }

            .fa {
                stroke-dasharray: 3000;
                fill: url(#gradient3);
            }

            .cake {
                stroke-dasharray: 4000;
                fill: url(#gradient4);
            }
        }

        &:hover .tw {
            stroke-width: 15;
            fill: none;
            -webkit-animation: tw .9s cubic-bezier(0.47, 0, 0.745, 0.715) forwards,gradient1 .8s 5s forwards;
            animation: tw .9s cubic-bezier(0.47, 0, 0.745, 0.715) forwards,gradient1 .8s 1s forwards;
        }


        &:hover .cake {
            fill: none;
            -webkit-animation: cake .9s cubic-bezier(0.47, 0, 0.745, 0.715) forwards,gradient4 .8s 5s forwards;
            animation: cake .9s cubic-bezier(0.47, 0, 0.745, 0.715) forwards,gradient4 .8s 1s forwards;
        }

        &:hover .cake-width {
            stroke-width: 1;
        }

        &:hover .other-width {
            stroke-width: 10;
        }

        &:hover .inst {
            stroke-width: 15;
            fill: none;
            -webkit-animation: inst .9s cubic-bezier(0.47, 0, 0.745, 0.715) forwards,gradient2 .8s 5s forwards;
            animation: inst .9s cubic-bezier(0.47, 0, 0.745, 0.715) forwards,gradient2 .8s 1s forwards;
        }

        &:hover .fa {
            stroke-width: 15;
            fill: none;
            -webkit-animation: fa .9s cubic-bezier(0.47, 0, 0.745, 0.715) forwards,gradient3 .8s 1s forwards;
            animation: fa .9s cubic-bezier(0.47, 0, 0.745, 0.715) forwards,gradient3 .8s 1s forwards;
        }
        /*------- Stroke animation -------------*/
        @keyframes tw {
            from {
                stroke-dashoffset: 4000;
            }

            to {
                stroke-dashoffset: 0;
            }
        }

        @keyframes cake {
            from {
                stroke-dashoffset: 4000;
            }

            to {
                stroke-dashoffset: 0;
            }
        }

        @keyframes inst {
            from {
                stroke-dashoffset: 4000;
            }

            to {
                stroke-dashoffset: 0;
            }
        }

        @keyframes fa {
            from {
                stroke-dashoffset: 3000;
            }

            to {
                stroke-dashoffset: 0;
            }
        }
        /*--------- gradient animation ----*/
        @keyframes gradient1 {
            10% {
                fill: none;
            }

            100% {
                fill: url(#gradient1);
                stroke-width: 0;
            }
        }


        @keyframes gradient2 {
            10% {
                fill: none;
            }

            100% {
                fill: url(#gradient2);
                stroke-width: 0;
            }
        }

        @keyframes gradient3 {
            10% {
                fill: none;
            }

            100% {
                fill: url(#gradient3);
                stroke-width: 0;
            }
        }

        @keyframes gradient4 {
            10% {
                fill: none;
            }

            100% {
                fill: url(#gradient4);
                stroke-width: 0;
            }
        }

        @keyframes gradient5 {
            10% {
                fill: none;
            }

            100% {
                fill: url(#gradient5);
                stroke-width: 0;
            }
        }
    }


    .spinner {

        $ncirc: 2;
        $color: #3D4D90;
        width: 5vh;
        height: 5.1vh;
        border-radius: 100%;
        position: relative;
        animation: spin 5s infinite linear;
        z-index: 100;

        .circle {
            width: 100%;
            height: 100%;
            position: absolute;

            .inner {
                width: 100%;
                height: 100%;
                border-radius: 100%;
                border: 3px solid transparentize($color, 0.85);
                border-right: none;
                border-top: none;
                box-shadow: inset 0px 0px 10px transparentize(#BAD3FF, 0.85);
            }
        }

        @keyframes spin {
            from {
                transform: rotate(0deg)
            }

            to {
                transform: rotate(360deg)
            }
        }

        @for $i from 0 through $ncirc {
            .circle:nth-of-type(#{$i}) {
                transform: rotate($i * 70deg);

                .inner {
                    animation: spin 2s infinite linear;
                }
            }
        }
    }
