@import url("https://use.fontawesome.com/releases/v5.0.1/css/all.css");
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic');
@import 'bootstrap.css';


@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    src: url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
    src: url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}


@mixin for-size($size) {
    @if $size == phone-only {
        @media (max-width: 576px) {
            @content;
        }
    }
    @else if $size == phone-landscape-up {
        @media (min-width: 568px) {
            @content;
        }
    }
    @else if $size == tablet-portrait-up {
        @media (min-width: 768px) {
            @content;
        }
    }
    @else if $size == tablet-landscape-up {
        @media (min-width: 900px) {
            @content;
        }
    }
    @else if $size == desktop-up {
        @media (min-width: 1200px) {
            @content;
        }
    }
}
@mixin for-orient($or) {
    @if $or == port {
        @media (orientation: portrait) {
            @content;
        }
    }
    @else if $or == land {
        @media (orientation: landscape) {
            @content;
        }
    }
}
$darkblue: #031560;
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }

    @-moz-keyframes #{$name} {
        @content;
    }

    @-ms-keyframes #{$name} {
        @content;
    }

    @keyframes #{$name} {
        @content;
    }
}


body {
    background: url('https://www.toptal.com/designers/subtlepatterns/patterns/gplaypattern.png');
    font-family: 'Roboto', sans-serif;
    font-size: 100%;

    h1 {
        @include for-size(phone-only) {
            font-size: 1.4em;
            letter-spacing: 0.3em;
        }

        @include for-size(phone-landscape-up) {
            font-size: 1.3em;
            letter-spacing: 0.3em;
        }

        @include for-size(tablet-portrait-up) {
            font-size: 1.8em;
            letter-spacing: 0.4em;
        }

        @include for-size(tablet-landscape-up) {
            font-size: 2em;
            letter-spacing: 0.6em;
        }

        @include for-size(desktop-up) {
            font-size: 2.5em;
            letter-spacing: 0.5em;
        }
    }
}


/*ADD PRESENT*/

.addPresent {
    position: absolute;
    background: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Vd3bj2jPe/smoke-background-abstract-blue-smoke-cloud-smoke-in-slow-motion-white-smoke-slowly-floating-through-space-against-black-background-smoke-effect-fog-effect-smoke-machine-studio-shot_rnxne320__F0000.png');
    background-size: cover;
}

.form-add {
    overflow: hidden;
    position: relative;
    margin: auto;
    margin-top: 15vh;
    border-radius: 30px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
    background: rgba(255,255,255,0.2);

    @include for-size(phone-only) {
        height: 80%;
        width: 80%;
    }

    @include for-size(phone-landscape-up) {
        height: 80%;
        width: 50%;
    }

    @include for-size(tablet-portrait-up) {
        height: 80%;
        width: 75%;
    }

    @include for-size(tablet-landscape-up) {
        height: 80%;
        width: 50%;
    }


    @include for-size(desktop-up) {
        height: 80%;
        width: 30%;
    }

    .name {
        background: linear-gradient(to right, #FFFFFF, #C1C3FF);
        height: 7vh;
        border-radius: 30px 30px 0 0;
        letter-spacing: 3px;
        text-transform: uppercase;
        font-size: 1.3em;
    }

    .new-present-form {
        height: 90%;
        margin: 4% 0;

        .text, textarea {
            background: rgba(255,255,255,0.9);
            width: 100%;
            padding: 10px 15px;
            height: 75%;
            border: none;
            border-radius: 2.5vh;

            &:focus {
                outline: none;
                background: rgba(255,255,255,1);
            }
        }

        .h-input {
            height: 10%;
        }

        .h-15 {
            height: 15%;
        }

        .has-error {
            background: #F2D7D7;
        }

        .but {
            margin: 0 2vh;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;

            &:hover {
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
                transform: scale(1.1);
            }
        }

        .gender {
            height: 8%;
            margin-top: -4%;

            input[type="radio"], button {
                display: none;
            }

            label {
                margin: 0 1%;

                @each $gender, $content, $color in (female, 221, #D2A2C6), (both, 1db, #C2A6D2), (male, 222, #A2AAD2) {
                    .#{$gender} {
                        &::before {
                            font-family: FontAwesome;
                            content: "\f#{$content}";
                            color: #{$color};
                            font-size: 3vh;
                        }
                    }
                }

                @each $gender, $color in (female, #AE0082), (both, #6B00A9), (male, #001CAA) {
                    .#{$gender}-checked {
                        &::before {
                            color: $color;
                        }
                    }
                }
            }
        }

        input[type="checkbox"] {
            transition: all 0.1s ease-in-out;
            position: absolute;
            opacity: 0;
            z-index: -1;
        }

        .check-label {
            font-weight: bolder;
        }

        .checkbox-false, .checkbox-true {
            display: inline-block;
            position: relative;
            transform-origin: center;
            width: 2.2vh;
            height: 2.2vh;
            border-radius: 50%;
        }

        .checkbox-false2, .checkbox-true2 {
            display: inline-block;
            position: relative;
            transform-origin: center;
            width: 2vh;
            height: 2vh;
        }

        .checkbox-false {
            background-color: rgba(0,0,0,0.1);

            .check {
                width: 0vh;
                color: transparent;
                -moz-transition: all 0.2s linear;
                -o-transition: all 0.2s linear;
                -webkit-transition: all 0.2s linear;
                transition: all 0.2s linear;
            }

            &:hover {
                .check {
                    color: white;
                    width: 1.5vh;
                }
            }
        }

        .checkbox-true {
            background-color: rgba(255,255,255,0.75);

            .check {
                transform: scale(0.6);
                color: $darkblue;
                -moz-transition: all 0.2s linear;
                -o-transition: all 0.2s linear;
                -webkit-transition: all 0.2s linear;
                transition: all 0.2s linear;
            }
        }

        .checkbox-false2 {
            background-color: rgba(0,0,0,0.1);
        }

        .checkbox-true2 {
            background-color: rgba(23,118,221, 0.9);
            border-radius: 3px;
            .check {
                width: 1.3vh;
                color: white;
                -moz-transition: all 0.2s linear;
                -o-transition: all 0.2s linear;
                -webkit-transition: all 0.2s linear;
                transition: all 0.2s linear;
            }
        }
    }
}





/*MENU*/

    .home-image {
        margin-bottom: 50px;
        background: url(https://wallpaperscraft.ru/image/abstrakciya_seryy_siniy_dym_441_1920x1080.jpg);
        background-size: cover;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);

        @include for-size(phone-only) {
            height: 35vh;
            background-size: 250%;
            background-position: center top;
        }

        @include for-size(phone-landscape-up) {
            height: 40vh;
            background-size: 150%;
            background-position: center top;
        }

        @include for-size(tablet-landscape-up) {
            background-size: cover;
        }

        @include for-size(desktop-up) {
            height: 50vh;
        }
    }

    .sps {
        position: fixed;
        top: 0;
        left: 0;
        transition: all 0.25s ease;
        width: 100%;

        .nav-brand {
            font-family: 'Lato', sans-serif;
            text-transform: uppercase;
            color: black;
            display: inline-block;

            &:focus, &:hover {
                text-decoration: none;
                color: black;
            }
        }

        .input-div {
            position: relative;

            .icon {
                position: absolute;
                z-index: 1;

                .search-icon {
                    height: 2vh;
                    margin: 1vh;
                }
            }

            .form-control {
                padding-left: 5vh;
                width: 75%;

                @include for-size(phone-only) {
                    height: 4.5vh;
                }

                @include for-size(phone-landscape-up) {
                    height: 5vh;
                }
            }
        }

        .nav-icon {
            @include for-size(phone-only) {
                margin: 2vw;
                height: 60%;
                width: 60%;
            }

            @include for-size(phone-landscape-up) {
                margin: 2vh;
                height: 5vh;
                width: 5vh;
            }

            @include for-size(tablet-portrait-up) {
                margin: 1vw;
                height: 4.3vh;
            }
        }
    }

.sps--abv {
    background-color: transparent;
    color: #000;

    @include for-size(phone-only) {
        height: 10vh;
    }

    @include for-size( phone-landscape-up ) {
        height: 12vh;
    }

    @include for-size(tablet-portrait-up) {
        height: 15vh;
    }

}

.sps--blw {
    background-color: #fff !important;
    color: #fff;

    @include for-size(phone-only) {
        height: 10vh;
    }

    @include for-size( phone-landscape-up ) {
        height: 12vh;
    }

    @include for-size(tablet-portrait-up) {
        height: 15vh;
    }

    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
    
    
    /*PROFILE*/
.profile {
    position: absolute;
    background: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Vd3bj2jPe/smoke-background-abstract-blue-smoke-cloud-smoke-in-slow-motion-white-smoke-slowly-floating-through-space-against-black-background-smoke-effect-fog-effect-smoke-machine-studio-shot_rnxne320__F0000.png');
    background-size: cover;

    .name {
        position: absolute;
        height: 5vh;
        font-family: 'Lobster', cursive;
        font-size: 3em;
        top: -2vh;
        color: $darkblue;
    }

    .profile-area {
        margin: auto;
        display: block;
        position: relative;

        @include for-size( phone-landscape-up ) {
            margin-top: 14vh;
        }

        @include for-size(tablet-portrait-up) {
            margin-top: 16vh;
        }

        @include for-orient(port) {
            width: 80vw;
            height: 80vh;
        }

        @include for-orient(land) {
            width: 60vw;
            height: 78vh;
        }

        @include for-size(phone-only) {
            width: 90vw;
            height: 85vh;
            margin-top: 12vh;
        }

        .info {
            border-radius: 2vh;
            background: rgba(255,255,255,0.2);
            box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
            display: block;
            position: relative;
            padding: 1vh;

            @include for-orient(port) {
                height: 45%;
            }

            @include for-orient(land) {
                height: 45vh;
            }

            .main {
                width: 30%;

                .img {

                    @include for-orient(port) {
                        width: 15vh;
                        height: 15vh;
                    }

                    @include for-orient(land) {
                        width: 20vh;
                        height: 20vh;
                    }

                    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
                }

                .social-icon {
                    margin: 5px;
                    -webkit-transition: all 0.3s ease-in-out;
                    -moz-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                    color: #3A4260;

                    &:hover {
                        -webkit-transform: scale(1.1);
                        -moz-transform: scale(1.1);
                        -ms-transform: scale(1.1);
                        -o-transform: scale(1.1);
                        transform: scale(1.1);
                    }
                }

                @each $item, $content, $color in (insta, 16d, #517fa4), (tel, 3fe, #0088cc), (face, 39e, #3b5998) {
                    .#{$item} {
                        &::before {
                            font-family: "Font Awesome 5 Brands";
                            content: "\f#{$content}";
                            font-size: 3vh;
                        }

                        &:hover::before {
                            color: #{$color};
                        }
                    }
                }

                .button {
                    height: 30%;
                    width: 75%;
                    background: blue;
                }
            }

            .other-data {
                width: 55%;
                margin-top: 7%;

                .age {
                    font-weight: bold;
                }

                .likes {
                    overflow: hidden;

                    .like-title {
                        font-weight: bold;
                        margin-right: 5%;
                    }

                    input {
                        width: 4vh;
                        border: 1px solid $darkblue;
                        background-color: $darkblue;
                        border-radius: 2vh;
                        color: #fbfbfb;
                        transition: all 300ms ease-in-out;
                        margin: 0.2vh;
                        padding: 0.4vh 1vh;

                        &:focus {
                            width: 10vh;
                            padding: 0.4vh 1.5vh;
                            outline: none;
                            background-color: #fbfbfb;
                            color: $darkblue;
                        }

                        &::-webkit-input-placeholder {
                            color: #fbfbfb;
                        }

                        &::-moz-placeholder {
                            color: #fbfbfb;
                        }
                    }

                    .tag {
                        border: 1px solid $darkblue;
                        background-color: $darkblue;
                        border-radius: 2vh;
                        padding: 0.4vh 1.5vh;
                        color: #fbfbfb;
                        transition: all 300ms ease-in-out;
                        margin: 0.2vh;

                        &:hover {
                            border: 1px solid $darkblue;
                            color: $darkblue;
                            background-color: #fbfbfb;
                        }
                    }
                }


                .friends {
                    margin: auto;
                    border-radius: 2vh;
                    display: block;
                    background: rgba(255,255,255,0.2);
                    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
                    position: relative;
                    overflow: hidden;

                    @include for-orient(port) {
                        height: 45%;
                        width: 100%;
                    }

                    @include for-orient(land) {
                        height: 45%;
                        width: 100%;
                    }

                    .nav {
                        background: linear-gradient(to right, #FFFFFF, #C1C3FF);
                        width: 100%;
                        border-radius: 2vh 2vh 0 0;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        font-size: 1.3em;

                        @include for-orient(port) {
                            height: 25%;
                        }

                        @include for-orient(land) {
                            height: 30%;
                        }
                    }

                    .content2 {
                        @include for-orient(port) {
                            -ms-flex-wrap: nowrap !important;
                            flex-wrap: nowrap !important;
                            justify-content: flex-start;
                        }

                        @include for-orient(land) {
                            -ms-flex-wrap: wrap !important;
                            flex-wrap: wrap !important;
                            justify-content: space-around;
                        }
                    }

                    .user-present {
                        @include for-orient(port) {
                            height: 10vh;
                            width: 10vh;
                        }

                        @include for-orient(land) {
                            height: 15vh;
                            width: 15vh;
                        }

                        margin: 1vh;
                        background: rgba(255,255,255,0.4);
                    }
                }
            }
        }


        .content {
            @include for-orient(port) {
                -webkit-box-orient: vertical !important;
                -webkit-box-direction: normal !important;
                -ms-flex-direction: column !important;
                flex-direction: column !important;
                justify-content: space-around;
                height: 42vh;
                width: 100%;
            }

            @include for-orient(land) {
                -webkit-box-orient: horizontal !important;
                -webkit-box-direction: normal !important;
                -ms-flex-direction: row !important;
                flex-direction: row !important;
                justify-content: space-between;
                height: 30vh;
                width: 100%;
            }
        }

        .fields {
            @include for-orient(port) {
                height: 45%;
                width: 100%;
            }

            @include for-orient(land) {
                height: 100%;
                width: 45%;
            }

            border-radius: 2vh;
            display: block;
            background: rgba(255,255,255,0.2);
            box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
            position: relative;
            overflow: hidden;

            .nav {
                background: linear-gradient(to right, #FFFFFF, #C1C3FF);
                width: 100%;
                border-radius: 2vh 2vh 0 0;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-size: 1.3em;

                @include for-orient(port) {
                    height: 25%;
                }

                @include for-orient(land) {
                    height: 8vh;
                }
            }

            .content2 {
                @include for-orient(port) {
                    -ms-flex-wrap: nowrap !important;
                    flex-wrap: nowrap !important;
                    justify-content: flex-start;
                }

                @include for-orient(land) {
                    -ms-flex-wrap: wrap !important;
                    flex-wrap: wrap !important;
                    justify-content: space-around;
                }
            }

            .user-present {
                @include for-orient(port) {
                    height: 10vh;
                    width: 10vh;
                }

                @include for-orient(land) {
                    height: 15vh;
                    width: 15vh;
                }

                margin: 1vh;
                background: rgba(255,255,255,0.4);
            }
        }

        .plus-div {
            .plus {
                @include for-orient(port) {
                    margin: 1.5vh;
                }

                @include for-orient(land) {
                    margin: 4vh;
                }

                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                .plus {
                    -webkit-transform: scale(1.1);
                    -moz-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    -o-transform: scale(1.1);
                    transform: scale(1.1);
                }
            }
        }
    }
}
   
    
    /*PRESENTS*/
.present {
    margin: 20px 15px 20px 15px;
    height: 20vh;
    position: relative;

    .title {
        position: absolute;
        height: 5vh;
        font-family: 'Lobster', cursive;
        font-size: 3.5em;
        top: -2vh;
    }

    .info {
        border-radius: 0 30px 30px 0;
        height: 100%;
        margin-left: 10vh;
        padding: 1em 0;
        display: block;
        background: rgba(255,255,255,0.5);
        box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.3);
    }

    .img {
        height: 100%;
        background-size: cover;
    }

    .arrow-right::before {
        font-family: FontAwesome;
        content: "\f105";
        font-size: 3vh;
        margin: 5px;
    }

    .red {
        stop-color: red;
    }

    .blue {
        stop-color: blue;
    }

    .gradient-text {
        fill: url(#gradient);
        font-size: 2rem;
        font-weight: bold;
    }

    .scale {
        transform: scale(-1,1.1) translate(-140, -10);
    }

    .icon {
        width: 48px;
        height: 48px;
        display: inline-block;
        -webkit-mask: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/18515/heart.svg) no-repeat 50% 50%;
        mask: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/18515/heart.svg);
        background-color: red;
    }

    .like-false::before {
        font-family: 'Font Awesome 5 Free';
        content: "\f004";
        font-size: 3vh;
        font-weight: 400;
    }

    .like-true::before {
        font-family: 'Font Awesome 5 Free';
        content: "\f004";
        color: $darkblue;
        font-size: 3vh;
        font-weight: 900;
    }

    .bottom {
        height: 5vh;
        font-size: 1.2em;
        color: #142C7E;
        padding: 2vh;
    }

    .about {
        margin-top: 4.5vh;
        margin-left: 13vh;
        height: 8vh;
    }

    .nav {
        color: $darkblue;
        font-weight: 400;
        margin-left: 35%;

        &:hover {
            color: $darkblue;
        }
    }
}

    .navlink-no:hover {
        text-decoration: none;
    }

    .navlink-no:focus {
        text-decoration: none;
    }
    /*REGISTRATION LOGIN*/
    .log-form {
        font-family: 'Lato', sans-serif;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);

        @include for-orient(port) {
            -webkit-box-orient: vertical !important;
            -webkit-box-direction: normal !important;
            -ms-flex-direction: column !important;
            flex-direction: column !important;
        }

        @include for-orient(land) {
            -webkit-box-orient: horizontal !important;
            -webkit-box-direction: normal !important;
            -ms-flex-direction: row !important;
            flex-direction: row !important;
        }

        @include for-size (phone-only) {
            margin-top: 12vh;
        }

        @include for-size (phone-landscape-up) {
            margin-top: 15vh;
        }

        @include for-orient(port) {
            width: 80vw;
            height: 80vh;
        }

        @include for-orient(land) {
            margin-top: 20vh;
            width: 50vw;
            height: 60vh;
        }

        .image {
            background-position: center center;
            background-size: cover;
            overflow: hidden;
            background-image: url('https://pm1.narvii.com/6639/7f76c797c61e19f18e4b8cda0a3b64803f5743d4_hq.jpg');

            @include for-orient(port) {
                width: 100%;
                height: 30%;
            }

            @include for-orient(land) {
                width: 25vw;
                height: 100%;
            }
        }

        .content {
            background: white;
            padding: 1vh 4vw 3vh 4vw;

            @include for-orient(port) {
                width: 100%;
                height: 70%;
            }

            @include for-orient(land) {
                width: 25vw;
                height: 100%;
            }

            .name {
                margin: 5vh;
                letter-spacing: 7px;
                text-transform: uppercase;
            }

            .input-area {
                height: 19vh;
            }

            .input-area-2 {
                height: 18vh;
                margin-top: 2vh;
            }

            .inpt {
                display: block;
                width: 100%;
                height: 4vh;
                padding: 2vh 1vh;
                border: 1px solid #EAEAEA;
                background: white;
                border-radius: 2px;

                &:focus {
                    border: 1px solid #B9D0F8;
                    -webkit-box-shadow: 0 0 0 0.2rem rgba(69, 130, 236, 0.25);
                    box-shadow: 0 0 0 0.2rem rgba(69, 130, 236, 0.25);
                }
            }

            .has-error {
                border: 1px solid #F8B9B9;
                -webkit-box-shadow: 0 0 0 0.2rem rgba(236,69,69, 0.25);
                box-shadow: 0 0 0 0.2rem rgba(236,69,69, 0.25);
            }

            .submit-wrap {
                height: 8vh;
            }

            .sbm-but {
                text-transform: uppercase;
                height: 4vh;
                display: block;
                width: 100%;
                letter-spacing: 1px;
                color: black;
                border: 1px solid #031868;
                background: transparent;
                border-radius: 2px;

                &:hover {
                    background-color: #031868;
                    color: white;
                    transition: all 0.2s;
                }
            }

            .gender {
                input[type="radio"], button {
                    display: none;
                }

                label {
                    height: 7vh;
                    width: 7vh;
                    font-size: 3vh;
                    font-weight: bold;
                    margin: 0 1%;

                    @each $gender, $content, $color in (female, 221, #d9d9d9), (male, 222, #d9d9d9) {
                        .#{$gender} {
                            &::before {
                                font-family: FontAwesome;
                                content: "\f#{$content}";
                                color: #{$color};
                                font-size: 3vh;
                            }
                        }
                    }

                    @each $gender, $color in (female, #7D001B), (male, #052E7D) {
                        .#{$gender}-checked {
                            &::before {
                                color: $color;
                            }
                        }
                    }
                }
            }

            .social-icon {
                border-radius: 50%;
                background-clip: content-box;
                padding: 3px;
                height: 7vh;
                width: 7vh;
                margin: 7px;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;

                &:hover {
                    padding: 5px;
                    -webkit-transform: scale(1.1);
                    -moz-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    -o-transform: scale(1.1);
                    transform: scale(1.1);
                }
            }

            .tw {
                border: 1px dashed #3CF;
                background-color: #3CF;

                &::before {
                    font-family: FontAwesome;
                    content: "\f099";
                    color: white;
                    font-size: 3vh;
                }
            }

            .go {
                border: 1px dashed #DC4A38;
                background-color: #DC4A38;

                &::before {
                    font-family: FontAwesome;
                    content: "\f0d5";
                    color: white;
                    font-size: 3vh;
                }
            }

            .face {
                border: 1px dashed #3B5998;
                background-color: #3B5998;

                &::before {
                    font-family: FontAwesome;
                    content: "\f09a";
                    color: white;
                    font-size: 3vh;
                }
            }


            .tabs {
                width: 100%;
                margin-top: -2vh;
                margin-bottom: 3vh;
                border-bottom: 1px solid #d9d9d9;
            }

            .tab {
                display: inline-block;
                padding: 20px 10px 10px;
                cursor: pointer;
                letter-spacing: 0;
                transition: all 0.1s ease-in-out;
                text-transform: uppercase;
                color: #d9d9d9;

                &:hover {
                    color: black;
                }
            }

            .active-tab {
                color: black;
                border-bottom: 1px solid black;
            }
        }
    }





    /*ANIMATION*/
@include keyframes(fadeInDown) {
    0% {
        opacity: 0;
        -moz-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@include keyframes(scaleIn) {
    0% {
        opacity: 0;
       transform: scale(1);
    }

    100% {
        opacity: 1;
        transform: scale(1.1);
    }
}

@include keyframes(opac) {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.fadeInDown {
        -webkit-animation-name: fadeInDown;
        -moz-animation-name: fadeInDown;
        -o-animation-name: fadeInDown;
        animation-name: fadeInDown;
    }
.scaleIn {
    -webkit-animation-name: scaleIn;
    -moz-animation-name: scaleIn;
    -o-animation-name: scaleIn;
    animation-name: scaleIn;
}
.opac {
    -webkit-animation-name: opac;
    -moz-animation-name: opac;
    -o-animation-name: opac;
    animation-name: opac;
}


    .animated {
        -webkit-animation-fill-mode: both;
        -moz-animation-fill-mode: both;
        -o-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        -o-animation-duration: 1s;
        animation-duration: 1s;
    }
